Repository xing/hops, pull requests merged in 2020-10, with the labels that each got.

#1382 fix(webpack): accept object argument in BuildError (v13.x)
  packages/webpack/lib/utils/errors.js
Labels: :package: v13

#1381 fix(webpack): accept object argument in BuildError (v12.x)
  packages/webpack/lib/utils/errors.js
Labels: :package: v12

#1395 refactor: switch to XING GraphQL API for demo template
  packages/template-graphql/package.json
  packages/template-graphql/src/home/commits.gql
  packages/template-graphql/src/home/index.js
  packages/template-graphql/src/home/jobs.gql
  packages/template-graphql/src/home/spec/__snapshots__/index.spec.js.snap
  packages/template-graphql/src/home/spec/index.spec.js
Labels: :package: master, :package: v13

#1397 refactor: switch to XING GraphQL API for demo template
  packages/template-graphql/package.json
  packages/template-graphql/src/home/commits.gql
  packages/template-graphql/src/home/index.js
  packages/template-graphql/src/home/jobs.gql
  packages/template-graphql/src/home/spec/__snapshots__/index.spec.js.snap
  packages/template-graphql/src/home/spec/index.spec.js
Labels: :package: v13

#1402 feat: add support for Node v15
  package.json
  packages/apollo-mock-server/package.json
  packages/bootstrap/package.json
  packages/config/package.json
  packages/create-hops-app/package.json
  packages/development-proxy/package.json
  packages/express/package.json
  packages/graphql/package.json
  packages/hops/package.json
  packages/info/package.json
  packages/jest-preset/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/postcss/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/redux/package.json
  packages/spec/integration/create-hops-app/__tests__/index.spec.js
  packages/spec/integration/create-hops-app/package.json
  packages/spec/integration/development-proxy/package.json
  packages/spec/integration/graphql-mock-server/package.json
  packages/spec/integration/graphql-no-ssr/package.json
  packages/spec/integration/graphql/package.json
  packages/spec/integration/hops/package.json
  packages/spec/integration/hot-module-reload/package.json
  packages/spec/integration/jest-preset/package.json
  packages/spec/integration/lambda/package.json
  packages/spec/integration/postcss/package.json
  packages/spec/integration/pwa/package.json
  packages/spec/integration/react/package.json
  packages/spec/integration/redux-without-ssr/package.json
  packages/spec/integration/redux/package.json
  packages/spec/integration/styled-components/package.json
  packages/spec/integration/typescript-styled-components/package.json
  packages/spec/integration/typescript-unit-testing/package.json
  packages/spec/integration/typescript/package.json
  packages/spec/package.json
  packages/styled-components/package.json
  packages/typescript/package.json
  packages/webpack/package.json
  packages/yargs/package.json
Labels: :package: master, :package: v13
