Repository xing/hops, pull requests merged in 2020-08, with the labels that each got.

#1315 fix(react-apollo): prevent requests on server when SSR is turned off
  packages/react-apollo/mixin.server.js
  packages/react-apollo/package.json
  packages/spec/integration/graphql-no-ssr/__tests__/develop.js
  packages/spec/integration/graphql-no-ssr/fragmentTypes.json
  packages/spec/integration/graphql-no-ssr/index.js
  packages/spec/integration/graphql-no-ssr/mock-schema.js
  packages/spec/integration/graphql-no-ssr/package.json
Labels: :package: master, :package: v12

#1316 fix(react-apollo): prevent requests on server when SSR is turned off
  packages/react-apollo/mixin.server.js
  packages/react-apollo/package.json
  packages/spec/integration/graphql-no-ssr/__tests__/develop.js
  packages/spec/integration/graphql-no-ssr/fragmentTypes.json
  packages/spec/integration/graphql-no-ssr/index.js
  packages/spec/integration/graphql-no-ssr/mock-schema.js
  packages/spec/integration/graphql-no-ssr/package.json
Labels: :package: v12

#1323 fix(bootstrap): re-export strategies in hops-bootstrap
  DEPRECATIONS.md
  packages/bootstrap/README.md
  packages/bootstrap/index.js
Labels: :package: master
