Repository xing/hops, pull requests merged in 2020-02, with the labels that each got.

#1062 chore: use hops-v11.x-branch of foosbyte/kicker-trainer
  package.json
  packages/spec/integration/create-hops-app/__tests__/index.spec.js
Labels: :package: v11

#1061 Release v12
  packages/typescript/__tests__/fixture/.gitkeep
  packages/typescript/__tests__/mixin.core.spec.js
  packages/typescript/mixin.core.js
Labels: :package: v12

#1064 chore: update untool
  packages/apollo-mock-server/package.json
  packages/config/package.json
  packages/hops/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: master, :package: v12

#1067 fix(lambda): pass Hops config into server app
  packages/lambda/lambda.js
  packages/spec/integration/lambda/__tests__/build.js
  packages/spec/integration/lambda/index.js
  packages/spec/integration/lambda/package.json
Labels: :package: master, :package: v12

#1063 feat: support latest Node.js (v13)
  .travis.yml
  package.json
  packages/apollo-mock-server/package.json
  packages/config/package.json
  packages/create-hops-app/package.json
  packages/development-proxy/package.json
  packages/express/package.json
  packages/graphql/package.json
  packages/hops/package.json
  packages/jest-preset/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/postcss/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/redux/package.json
  packages/spec/integration/create-hops-app/package.json
  packages/spec/integration/development-proxy/package.json
  packages/spec/integration/graphql-mock-server/package.json
  packages/spec/integration/graphql/package.json
  packages/spec/integration/hops/package.json
  packages/spec/integration/hot-module-reload/package.json
  packages/spec/integration/jest-preset/package.json
  packages/spec/integration/lambda/package.json
  packages/spec/integration/postcss/package.json
  packages/spec/integration/pwa/package.json
  packages/spec/integration/react/package.json
  packages/spec/integration/redux/package.json
  packages/spec/integration/styled-components/package.json
  packages/spec/integration/typescript/package.json
  packages/spec/package.json
  packages/styled-components/package.json
  packages/typescript/package.json
Labels: :package: v12

#1069 chore(spec): add missing Helmet import
  packages/spec/integration/lambda/index.js
Labels: :package: v12

#1071 fix: update untool to v2.1.2
  packages/apollo-mock-server/package.json
  packages/config/package.json
  packages/hops/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: master, :package: v12

#1072 Release 12.1.1
  packages/apollo-mock-server/package.json
  packages/config/package.json
  packages/hops/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: v12

#1079 Configuration table syntax fix
  DOCUMENTATION.md
Labels: :package: master, :package: v12

#1083 docs: fix table columns
  DOCUMENTATION.md
Labels: :package: master, :package: v12

#1087 fix: the render function returns a function
  packages/hops/lib/runtime.d.ts
Labels: :package: master, :package: v12

#1085 fix: all test files need to run through babel
  packages/jest-preset/helpers/babel-plugin-rename-corejs.js
  packages/jest-preset/jest-preset.js
  packages/jest-preset/transforms/babel.js
  packages/spec/integration/typescript-unit-testing/__tests__/index.js
  packages/spec/integration/typescript-unit-testing/content.tsx
  packages/spec/integration/typescript-unit-testing/headline.js
  packages/spec/integration/typescript-unit-testing/index.tsx
  packages/spec/integration/typescript-unit-testing/package.json
  packages/spec/integration/typescript-unit-testing/tsconfig.json
  packages/spec/package.json
  packages/template-redux/src/counter/index.js
  yarn.lock
Labels: :package: master, :package: v12

#1084 fix(jest-preset): correctly handle coverage instrumented importComponent
  .gitignore
  package.json
  packages/jest-preset/helpers/babel-plugin-import-component.js
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-loading.js.snap
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-mocked.js.snap
  packages/spec/integration/hops/index.js
Labels: :package: v12

#1091 chore: enable bors merge bot
  .github/PULL_REQUEST_TEMPLATE.md
  .travis.yml
  bors.toml
  package.json
  renovate.json
  yarn.lock
Labels: :package: master

#1092 chore: only execute linters and tests on latest Node for PRs
  .travis.yml
Labels: :package: master

#1095 fix: upgrade untool to v2.1.3
  packages/apollo-mock-server/package.json
  packages/config/package.json
  packages/hops/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  yarn.lock
Labels: :package: master, :package: v12

#1093 Prepare next v12 release
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .travis.yml
  DOCUMENTATION.md
  bors.toml
  package.json
  packages/apollo-mock-server/package.json
  packages/config/package.json
  packages/hops/lib/runtime.d.ts
  packages/hops/package.json
  packages/jest-preset/helpers/babel-plugin-import-component.js
  packages/jest-preset/helpers/babel-plugin-rename-corejs.js
  packages/jest-preset/jest-preset.js
  packages/jest-preset/transforms/babel.js
  packages/lambda/package.json
  packages/mixin/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-loading.js.snap
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-mocked.js.snap
  packages/spec/integration/hops/index.js
  packages/spec/integration/typescript-unit-testing/__tests__/index.js
  packages/spec/integration/typescript-unit-testing/content.tsx
  packages/spec/integration/typescript-unit-testing/headline.js
  packages/spec/integration/typescript-unit-testing/index.tsx
  packages/spec/integration/typescript-unit-testing/package.json
  packages/spec/integration/typescript-unit-testing/tsconfig.json
  packages/spec/package.json
  packages/template-redux/src/counter/index.js
  renovate.json
  yarn.lock
Labels: :package: v12

#1094 Prepare next v11 release
  .github/PULL_REQUEST_TEMPLATE.md
  .travis.yml
  bors.toml
  package.json
  renovate.json
  yarn.lock
Labels: :package: v11
