Repository xing/hops, pull requests merged in 2020-09, with the labels that each got.

#1329 refactor: move Mixin base class into hops-mixin
  DEPRECATIONS.md
  packages/bootstrap/README.md
  packages/bootstrap/index.js
  packages/config/package.json
  packages/mixin/index.js
  packages/mixin/package.json
  packages/react/build/mixin.core.js
  packages/react/helmet/mixin.runtime.js
  packages/react/import-component/mixin.core.js
  packages/react/import-component/mixin.runtime.js
  packages/react/package.json
  packages/react/render/mixin.browser.js
  packages/react/render/mixin.server.js
  packages/react/router/mixin.browser.js
  packages/react/router/mixin.server.js
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/mixins/config/mixin.core.js
  packages/webpack/mixins/develop/mixin.core.js
  packages/webpack/mixins/optimizations/mixin.core.js
  packages/webpack/mixins/render/mixin.core.js
  packages/webpack/mixins/start/mixin.core.js
  packages/webpack/mixins/stats/mixin.core.js
  packages/webpack/package.json
  packages/yargs/mixin.core.js
  packages/yargs/package.json
Labels: :package: master

#1342 test: remove redundant failing graphql test
  packages/spec/integration/graphql/__tests__/develop.js
  packages/spec/integration/graphql/index.js
  packages/spec/integration/graphql/package.json
Labels: :package: master

#1340 fix(webpack): use webpack HMR for node build to fix memory leak
  packages/webpack/lib/middlewares/render.js
Labels: :package: master

#1343 test: remove redundant failing graphql test
  packages/spec/integration/graphql/__tests__/develop.js
  packages/spec/integration/graphql/index.js
  packages/spec/integration/graphql/package.json
Labels: :package: v12

#1341 fix(webpack): use webpack HMR for node build to fix memory leak
  packages/webpack/lib/middlewares/render.js
Labels: :package: v12

#1350 Remove all last remnants of "untool"
  packages/apollo-mock-server/mixin.core.js
  packages/bootstrap/lib/config.js
  packages/bootstrap/lib/loader.js
  packages/config/index.js
  packages/hops/bin.js
  packages/info/README.md
  packages/react/import-component/babel.js
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/configs/node.js
Labels: :package: master

#1351 chore: update event-source-polyfill locally
  yarn.lock
Labels: :package: master

#1352 fix(webpack): replace serialize-error with a custom implementation
  packages/webpack/lib/utils/compiler-fork.js
  packages/webpack/lib/utils/compiler.js
  packages/webpack/lib/utils/errors.js
  packages/webpack/package.json
Labels: :package: master, :package: v12, 🐛 bug

#1353 fix(webpack): replace serialize-error with a custom implementation (v12.x)
  packages/webpack/lib/utils/compiler-fork.js
  packages/webpack/lib/utils/compiler.js
  packages/webpack/lib/utils/errors.js
  packages/webpack/package.json
Labels: :package: v12

#1354 Fix lambda diagnosis hook
  packages/lambda/mixin.core.js
Labels: :package: master, :package: v12

#1355 fix(jest-preset): fix warning in case of outdated Jest version
  packages/jest-preset/jest-preset.js
Labels: :package: master

#1358 Fix-up for #1352
  packages/webpack/lib/utils/errors.js
  yarn.lock
Labels: :package: master, :package: v12

#1360 chore: correct error name for deserialization
  packages/webpack/lib/utils/errors.js
Labels: :package: master, :package: v12

#1361 chore: correct error name for deserialization (v12.x)
  packages/webpack/lib/utils/errors.js
Labels: :package: v12

#1364 fix(create-hops-app): remove "@next" suffix of binary
  packages/create-hops-app/package.json
Labels: :package: v13
