Repository xing/hops, pull requests merged in 2020-05, with the labels that each got.

#1204 Cherry-pick v12 commits for next release
  packages/express/mixins/mixin.core.js
  packages/webpack/lib/plugins/stats.js
Labels: :package: v12

#1205 feat: Enable Resource Hints
  packages/react/import-component/babel.js
  packages/react/lib/resource-hints.js
  packages/react/lib/template.js
  packages/react/render/mixin.server.js
  packages/spec/integration/react/__tests__/develop.js
  packages/spec/integration/react/bold-text.js
  packages/spec/integration/react/index.js
  packages/webpack/lib/plugins/stats.js
Labels: :package: master, :package: v12

#1206 fix(react): render react-helmet-async values on the server again
  packages/react/helmet/mixin.runtime.js
  packages/react/render/mixin.server.js
  packages/spec/integration/react/__tests__/develop.js
Labels: :package: master, :package: v12

#1208 test: add favicon to all test cases
  packages/spec/integration/graphql-mock-server/index.js
  packages/spec/integration/graphql/index.js
  packages/spec/integration/hot-module-reload/index.js
  packages/spec/integration/postcss/index.js
  packages/spec/integration/pwa/index.js
  packages/spec/integration/react/index.js
  packages/spec/integration/redux/index.js
  packages/spec/integration/styled-components/index.js
  packages/spec/integration/typescript/index.tsx
  packages/spec/package.json
Labels: :package: v12

#1207 fix(react): render react-helmet-async values on the server
  packages/react/helmet/mixin.runtime.js
  packages/react/render/mixin.server.js
  packages/spec/integration/react/__tests__/develop.js
Labels: :package: v12

#1209 feat: Enable Resource Hints
  packages/react/import-component/babel.js
  packages/react/lib/resource-hints.js
  packages/react/lib/template.js
  packages/react/render/mixin.server.js
  packages/spec/integration/react/__tests__/develop.js
  packages/spec/integration/react/bold-text.js
  packages/spec/integration/react/index.js
  packages/webpack/lib/plugins/stats.js
Labels: :package: v12

#1213 fix: use the correct type to determine ts target
  packages/typescript/mixin.core.js
Labels: :package: master, :package: v12

#1215 fix: use the correct type to determine ts target
  packages/typescript/mixin.core.js
Labels: :package: v12

#1221 fix: update duplitect
  packages/info/doctor/validators/duplicates.js
  packages/info/package.json
  packages/react/package.json
  packages/webpack/package.json
  yarn.lock
Labels: :package: master, :package: v12

#1222 fix: update duplitect
  packages/info/doctor/validators/duplicates.js
  packages/info/package.json
  packages/react/package.json
  packages/webpack/package.json
  yarn.lock
Labels: :package: v12

#1212 chore: add support for Node.js v14
  .travis.yml
  DOCUMENTATION.md
  package.json
  packages/apollo-mock-server/package.json
  packages/bootstrap/package.json
  packages/config/package.json
  packages/create-hops-app/package.json
  packages/development-proxy/package.json
  packages/express/package.json
  packages/graphql/package.json
  packages/hops/package.json
  packages/info/package.json
  packages/jest-preset/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/postcss/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/redux/package.json
  packages/spec/integration/create-hops-app/package.json
  packages/spec/integration/development-proxy/package.json
  packages/spec/integration/graphql-mock-server/package.json
  packages/spec/integration/graphql/package.json
  packages/spec/integration/hops/package.json
  packages/spec/integration/hot-module-reload/package.json
  packages/spec/integration/jest-preset/package.json
  packages/spec/integration/lambda/package.json
  packages/spec/integration/postcss/package.json
  packages/spec/integration/pwa/package.json
  packages/spec/integration/react/package.json
  packages/spec/integration/redux-without-ssr/package.json
  packages/spec/integration/redux/package.json
  packages/spec/integration/styled-components/package.json
  packages/spec/integration/typescript-unit-testing/package.json
  packages/spec/integration/typescript/package.json
  packages/spec/package.json
  packages/styled-components/package.json
  packages/typescript/package.json
  packages/webpack/package.json
  packages/yargs/package.json
Labels: :package: v12

#1211 chore: add support for Node.js v14
  .travis.yml
  DOCUMENTATION.md
  package.json
  packages/apollo-mock-server/package.json
  packages/bootstrap/package.json
  packages/config/package.json
  packages/create-hops-app/package.json
  packages/development-proxy/package.json
  packages/express/package.json
  packages/graphql/package.json
  packages/hops/package.json
  packages/info/package.json
  packages/jest-preset/package.json
  packages/lambda/package.json
  packages/mixin/package.json
  packages/postcss/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/redux/package.json
  packages/spec/integration/create-hops-app/package.json
  packages/spec/integration/development-proxy/package.json
  packages/spec/integration/graphql-mock-server/package.json
  packages/spec/integration/graphql/package.json
  packages/spec/integration/hops/package.json
  packages/spec/integration/hot-module-reload/package.json
  packages/spec/integration/jest-preset/package.json
  packages/spec/integration/lambda/package.json
  packages/spec/integration/postcss/package.json
  packages/spec/integration/pwa/package.json
  packages/spec/integration/react/package.json
  packages/spec/integration/redux-without-ssr/package.json
  packages/spec/integration/redux/package.json
  packages/spec/integration/styled-components/package.json
  packages/spec/integration/typescript-unit-testing/package.json
  packages/spec/integration/typescript/package.json
  packages/spec/package.json
  packages/styled-components/package.json
  packages/typescript/package.json
  packages/webpack/package.json
  packages/yargs/package.json
Labels: :package: master, :package: v12

#1224 feat(webpack): improve feedback on conflicting core-js versions
  .prettierignore
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: master, :package: v12

#1227 feat(webpack): improve feedback on conflicting core-js versions
  .prettierignore
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: v12

#1228 feat(webpack): print total bundle size
  packages/webpack/lib/plugins/log.js
Labels: :package: master, :package: v12

#1229 feat(webpack): print total bundle size
  packages/webpack/lib/plugins/log.js
Labels: :package: v12

#1233 Revert "feat(webpack): improve feedback on conflicting core-js versions"
  .prettierignore
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: master

#1234 Revert "feat(webpack): improve feedback on conflicting core-js versions"
  .prettierignore
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: v12

#1237 chore: update yarn.lock
  yarn.lock
Labels: :package: master

#1238 feat(webpack): improve error output for core-js issues
  packages/webpack/lib/plugins/log.js
  packages/webpack/lib/utils/errors.js
Labels: :package: master, :package: v12

#1239 feat(webpack): improve error output for core-js issues
  packages/webpack/lib/plugins/log.js
  packages/webpack/lib/utils/errors.js
Labels: :package: v12
