Repository xing/hops, pull requests merged in 2020-12, with the labels that each got.

#1444 refactor(webpack): clean-up optimizations mixin
  packages/webpack/mixins/optimizations/mixin.core.js
Labels: :package: master

#1445 chore(spec): make TS/styled-components example build
  packages/spec/integration/typescript-styled-components/index.tsx
  packages/spec/integration/typescript-styled-components/package.json
  packages/spec/package.json
  yarn.lock
Labels: :package: master, :package: v13

#1446 chore(spec): make TS/styled-components example build (v13)
  packages/spec/integration/typescript-styled-components/index.tsx
  packages/spec/integration/typescript-styled-components/package.json
  packages/spec/package.json
  yarn.lock
Labels: :package: v13

#1447 refactor(react): reduce render promise chain by one promise
  packages/react/render/mixin.server.js
Labels: :package: master, :package: v13

#1455 chore: update Bors config
  bors.toml
Labels: :package: master, :package: v12, :package: v13, Merging… :robot:

#1456 chore: update Bors config (v13)
  bors.toml
Labels: :package: v13, Merging… :robot:

#1457 chore: update Bors config (v12)
  bors.toml
Labels: :package: v12, Merging… :robot:

#1458 docs: document available debug tags
  DOCUMENTATION.md
  packages/bootstrap/README.md
  packages/development-proxy/README.md
  packages/express/README.md
  packages/webpack/README.md
Labels: :package: master, :package: v13, Merging… :robot:

#1461 chore: use correct status name in bors config
  bors.toml
Labels: :package: v13

#1460 docs(react-apollo): describe importing queries in Typescript projects
  packages/react-apollo/README.md
Labels: :package: master, :package: v13

#1462 docs(react-apollo): describe importing queries in Typescript projects
  packages/react-apollo/README.md
Labels: :package: v13, Merging… :robot:
