Repository xing/hops, pull requests merged in 2020-07, with the labels that each got.

#1265 feat(webpack): introduce parallel build
  packages/apollo-mock-server/mixin.core.js
  packages/spec/helpers/env.js
  packages/spec/integration/lambda/__tests__/build.js
  packages/spec/integration/postcss/__tests__/build.js
  packages/spec/integration/react/index.js
  packages/webpack/README.md
  packages/webpack/index.js
  packages/webpack/lib/middlewares/render.js
  packages/webpack/lib/middlewares/stats.js
  packages/webpack/lib/plugins/stats.js
  packages/webpack/lib/utils/compiler-fork.js
  packages/webpack/lib/utils/compiler.js
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/mixins/develop/mixin.core.js
  packages/webpack/mixins/render/mixin.core.js
  packages/webpack/mixins/stats/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: master, :package: v12

#1272 fix: upgrade jest to v26
  package.json
  packages/jest-preset/package.json
  packages/spec/package.json
  packages/template-graphql/package.json
  packages/template-react/package.json
  packages/template-redux/package.json
  yarn.lock
Labels: :package: master

#1273 feat(webpack): introduce parallel build (v12.x)
  packages/apollo-mock-server/mixin.core.js
  packages/spec/helpers/env.js
  packages/spec/integration/lambda/__tests__/build.js
  packages/spec/integration/postcss/__tests__/build.js
  packages/spec/integration/react/index.js
  packages/webpack/README.md
  packages/webpack/index.js
  packages/webpack/lib/middlewares/render.js
  packages/webpack/lib/middlewares/stats.js
  packages/webpack/lib/plugins/stats.js
  packages/webpack/lib/utils/compiler-fork.js
  packages/webpack/lib/utils/compiler.js
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/mixins/develop/mixin.core.js
  packages/webpack/mixins/render/mixin.core.js
  packages/webpack/mixins/stats/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: v12

#1285 fix: deprecate old Node versions 10 & 13
  .travis.yml
  DOCUMENTATION.md
  package.json
  packages/apollo-mock-server/package.json
  packages/bootstrap/package.json
  packages/config/package.json
  packages/create-hops-app/package.json
  packages/development-proxy/package.json
  packages/express/package.json
  packages/graphql/package.json
  packages/hops/package.json
  packages/info/package.json
  packages/jest-preset/package.json
  packages/lambda/README.md
  packages/lambda/cloudformation.yaml
  packages/lambda/lib/aws-config.js
  packages/lambda/package.json
  packages/mixin/package.json
  packages/postcss/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/redux/package.json
  packages/spec/integration/create-hops-app/package.json
  packages/spec/integration/development-proxy/package.json
  packages/spec/integration/graphql-mock-server/package.json
  packages/spec/integration/graphql/package.json
  packages/spec/integration/hops/package.json
  packages/spec/integration/hot-module-reload/package.json
  packages/spec/integration/jest-preset/package.json
  packages/spec/integration/lambda/package.json
  packages/spec/integration/postcss/package.json
  packages/spec/integration/pwa/package.json
  packages/spec/integration/react/package.json
  packages/spec/integration/redux-without-ssr/package.json
  packages/spec/integration/redux/package.json
  packages/spec/integration/styled-components/package.json
  packages/spec/integration/typescript-unit-testing/package.json
  packages/spec/integration/typescript/package.json
  packages/spec/package.json
  packages/styled-components/package.json
  packages/typescript/package.json
  packages/webpack/README.md
  packages/webpack/package.json
  packages/yargs/package.json
Labels: :package: master

#1286 Remove Hops 11 deprecations
  DEPRECATIONS.md
  DOCUMENTATION.md
  packages/express/package.json
  packages/jest-preset/helpers/__tests__/babel-plugin-import-component.js
  packages/jest-preset/helpers/__tests__/fixture/code-01.txt
  packages/jest-preset/helpers/__tests__/fixture/code-02.txt
  packages/jest-preset/helpers/__tests__/fixture/code-03.txt
  packages/jest-preset/helpers/__tests__/fixture/code-04.txt
  packages/jest-preset/helpers/__tests__/fixture/expected-02.txt
  packages/jest-preset/helpers/__tests__/fixture/expected-03.txt
  packages/jest-preset/helpers/__tests__/fixture/expected-04.txt
  packages/jest-preset/helpers/babel-plugin-import-component.js
  packages/mixin/index.js
  packages/react-apollo/README.md
  packages/react-apollo/mixin.server.js
  packages/react-apollo/package.json
  packages/react/README.md
  packages/react/helmet/mixin.core.js
  packages/react/helmet/react-helmet-shim.js
  packages/react/import-component/babel.js
  packages/react/import-component/index.js
  packages/redux/README.md
  packages/redux/action-creator-dispatcher/mixin.server.js
  packages/redux/package.json
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-loading.js.snap
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-mocked.js.snap
  packages/spec/integration/hops/index.js
  packages/spec/integration/redux-without-ssr/package.json
Labels: :package: master

#1298 fix(webpack): reset stats file / promise on watch run events
  packages/webpack/lib/plugins/stats.js
Labels: :package: master, :package: v12
