Repository xing/hops, pull requests merged in 2020-04, with the labels that each got.

#1125 chore: disable yarn cache on travis
  .travis.yml
Labels: :package: master

#1117 fix(redux): prevent route actions from being dispatched on hashchange
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
  packages/spec/integration/redux/__tests__/develop.js
  packages/spec/integration/redux/index.js
Labels: :package: master, :package: v12

#1138 chore: do not run travis on branches ending in ".tmp"
  .travis.yml
Labels: :package: master, :package: v11, :package: v12

#1136 Release v12
  .travis.yml
  package.json
  packages/react/config/mixin.runtime.js
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
  packages/spec/integration/redux/__tests__/develop.js
  packages/spec/integration/redux/index.js
  yarn.lock
Labels: :package: v12

#1148 fix(redux): ensure to really only ignore hash-changes in dispatcher
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
  packages/spec/integration/redux-without-ssr/__tests__/develop.js
  packages/spec/integration/redux-without-ssr/index.js
  packages/spec/integration/redux-without-ssr/package.json
Labels: :package: master, :package: v12

#1151 Release v12.1.4
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
  packages/spec/integration/redux-without-ssr/__tests__/develop.js
  packages/spec/integration/redux-without-ssr/index.js
  packages/spec/integration/redux-without-ssr/package.json
Labels: :package: v12

#1158 refactor: restructure hops-react internals
  DEPRECATIONS.md
  packages/react/build/mixin.core.js
  packages/react/helmet/mixin.core.js
  packages/react/helmet/mixin.runtime.js
  packages/react/helmet/react-helmet-shim.js
  packages/react/import-component/babel.js
  packages/react/import-component/context.js
  packages/react/import-component/index.js
  packages/react/import-component/mixin.core.js
  packages/react/import-component/mixin.runtime.js
  packages/react/index.js
  packages/react/lib/assets.js
  packages/react/lib/babel.js
  packages/react/lib/runtime.js
  packages/react/mixin.core.js
  packages/react/preset.js
  packages/react/render/index.js
  packages/react/render/mixin.browser.js
  packages/react/render/mixin.server.js
  packages/react/router/index.js
  packages/react/router/mixin.browser.js
  packages/react/router/mixin.server.js
  packages/react/server-data/mixin.browser.js
  packages/react/server-data/mixin.server.js
Labels: :package: master, :package: v12

#1159 refactor: restructure info package
  packages/info/doctor/index.js
  packages/info/doctor/mixin.core.js
  packages/info/doctor/validators/config.js
  packages/info/doctor/validators/duplicates.js
  packages/info/doctor/validators/generic.js
  packages/info/index.js
  packages/info/logger/index.js
  packages/info/logger/mixin.core.js
  packages/info/preset.js
Labels: :package: master

#1166 docs: use relative links
  DOCUMENTATION.md
  packages/webpack/README.md
  packages/yargs/README.md
Labels: :package: master

#1170 perf: use transpileOnly flag of ts-loader for node dev build
  packages/typescript/mixin.core.js
Labels: :package: master, :package: v12

#1175 fix: upgrade to mixinable@5
  packages/bootstrap/index.js
  packages/bootstrap/package.json
  packages/express/mixins/mixin.core.js
  packages/express/package.json
  packages/info/doctor/index.js
  packages/info/doctor/mixin.core.js
  packages/info/package.json
  packages/mixin/package.json
  packages/react/package.json
  packages/react/render/mixin.browser.js
  packages/react/render/mixin.server.js
  packages/webpack/package.json
  packages/yargs/package.json
  yarn.lock
Labels: :package: master, :package: v12

#1176 fix: upgrade to mixinable v5
  packages/bootstrap/index.js
  packages/bootstrap/package.json
  packages/express/mixins/mixin.core.js
  packages/express/package.json
  packages/info/doctor/index.js
  packages/info/doctor/mixin.core.js
  packages/info/package.json
  packages/mixin/package.json
  packages/react/package.json
  packages/react/render/mixin.browser.js
  packages/react/render/mixin.server.js
  packages/webpack/package.json
  packages/yargs/package.json
  yarn.lock
Labels: :package: v12

#1171 feat: add --fast-dev option for faster development builds
  DOCUMENTATION.md
  packages/jest-preset/package.json
  packages/react/package.json
  packages/spec/integration/development-proxy/__tests__/object-config.js
  packages/spec/integration/development-proxy/__tests__/string-config.js
  packages/spec/integration/graphql-mock-server/__tests__/develop.js
  packages/spec/integration/graphql/__tests__/develop.js
  packages/spec/integration/hot-module-reload/__tests__/develop.js
  packages/spec/integration/postcss/__tests__/develop.js
  packages/spec/integration/react/__tests__/develop.js
  packages/spec/integration/redux-without-ssr/__tests__/develop.js
  packages/spec/integration/redux/__tests__/develop.js
  packages/spec/integration/styled-components/__tests__/develop.js
  packages/spec/integration/typescript/__tests__/develop.js
  packages/webpack/README.md
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/shims/node.js
  packages/webpack/mixins/fast-dev/mixin.core.js
  packages/webpack/mixins/start/mixin.core.js
  packages/webpack/package.json
  packages/webpack/preset.js
  yarn.lock
Labels: :package: master, :package: v12

#1178 fix(express): use nocache module to skip deprecation warning
  packages/express/mixins/mixin.core.js
Labels: :package: master, :package: v12

#1179 Prepare next v12 release
  DOCUMENTATION.md
  packages/jest-preset/package.json
  packages/react/package.json
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
  packages/spec/integration/development-proxy/__tests__/object-config.js
  packages/spec/integration/development-proxy/__tests__/string-config.js
  packages/spec/integration/graphql-mock-server/__tests__/develop.js
  packages/spec/integration/graphql/__tests__/develop.js
  packages/spec/integration/hot-module-reload/__tests__/develop.js
  packages/spec/integration/postcss/__tests__/develop.js
  packages/spec/integration/react/__tests__/develop.js
  packages/spec/integration/redux-without-ssr/__tests__/develop.js
  packages/spec/integration/redux/__tests__/develop.js
  packages/spec/integration/styled-components/__tests__/develop.js
  packages/spec/integration/typescript/__tests__/develop.js
  packages/typescript/mixin.core.js
  packages/webpack/README.md
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/shims/node.js
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/mixins/config/mixin.core.js
  packages/webpack/mixins/fast-dev/mixin.core.js
  packages/webpack/mixins/start/mixin.core.js
  packages/webpack/package.json
  packages/webpack/preset.js
  yarn.lock
Labels: :package: v12

#1182 fix(redux): remove usage of unsupported es class properties
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
Labels: :package: v12

#1183 fix(redux): remove usage of unsupported es class properties
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
Labels: :package: master
