Repository xing/hops, pull requests merged in 2020-11, with the labels that each got.

#1411 Upgrade dependencies
  packages/bootstrap/package.json
  packages/create-hops-app/package.json
  packages/express/package.json
  packages/graphql/package.json
  packages/hops/package.json
  packages/jest-preset/package.json
  packages/mixin/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/redux/package.json
  packages/spec/integration/hops/package.json
  packages/spec/integration/typescript-unit-testing/package.json
  packages/spec/package.json
  packages/styled-components/package.json
  packages/template-graphql/package.json
  packages/template-react/package.json
  packages/template-redux/package.json
  packages/webpack/lib/configs/develop.js
  packages/webpack/mixins/develop/mixin.core.js
  packages/webpack/package.json
  packages/yargs/package.json
  yarn.lock
Labels: :package: master, Merging… :robot:

#1426 fix(webpack): fix memory leak in StatsWriterPlugin
  packages/webpack/lib/plugins/stats.js
Labels: :package: master, :package: v13

#1422 fix(webpack): compile browser bundle for latest chrome only
  packages/webpack/mixins/optimizations/mixin.core.js
Labels: :package: master, :package: v12, :package: v13

#1428 fix(webpack): compile browser bundle for latest chrome only
  packages/webpack/mixins/optimizations/mixin.core.js
Labels: :package: v13

#1429 fix(webpack): compile browser bundle for latest chrome only
  packages/webpack/mixins/optimizations/mixin.core.js
Labels: :package: v12

#1427 chore: remove pr_status from bors config
  bors.toml
Labels: :package: master, :package: v13

#1433 chore: use correct status name in bors config
  bors.toml
Labels: :package: master, :package: v12, :package: v13

#1439 Fix babel transpilation target (always transpile new syntax)
  packages/webpack/lib/configs/node.js
Labels: :package: master, :package: v12, :package: v13

#1438 fix(bootstrap): do not try to resolve ESM packages for presets
  packages/bootstrap/lib/loader.js
  packages/bootstrap/lib/resolver.js
Labels: :package: master, :package: v13, Merging… :robot:

#1442 chore: remove pr_status from bors config
  bors.toml
Labels: :package: v13
