Repository xing/hops, pull requests merged in 2021-04, with the labels that each got.

#1711 chore: update canarist config for workshop (master)
  package.json
Labels: :package: master

#1697 docs: describe the release workflow in the contributing guide
  CONTRIBUTING.md
Labels: :package: master

#1710 fix: set correct "main" fields for templates
  packages/template-graphql/package.json
  packages/template-react/package.json
  packages/template-redux/package.json
Labels: :package: master, :package: v14

#1709 feat: add web vitals support
  packages/info/README.md
  packages/info/package.json
  packages/info/preset.js
  packages/info/web-vitals/mixin.browser.js
  yarn.lock
Labels: :package: master, :package: v14

#1718 fix(bootstrap): adapt validator to breaking changes in ajv
  packages/bootstrap/lib/validator.js
Labels: :package: master, :package: v14

#1720 feat(webpack): add fast refresh plugin
  DOCUMENTATION.md
  packages/postcss/package.json
  packages/pwa/package.json
  packages/react/fast-refresh/mixin.core.js
  packages/react/package.json
  packages/react/preset.js
  packages/spec/integration/fast-refresh/__tests__/develop.js
  packages/spec/integration/fast-refresh/heading.js
  packages/spec/integration/fast-refresh/index.js
  packages/spec/integration/fast-refresh/package.json
  packages/template-react/src/counter/index.jsx
  packages/webpack/package.json
  yarn.lock
Labels: :package: master, :package: v14

#1725 fix: add missing CLI-flags to develop command
  packages/react/fast-refresh/mixin.core.js
  packages/webpack/mixins/develop/mixin.core.js
Labels: :package: master, :package: v14

#1726 chore(spec): fix display name
  packages/spec/integration/fast-refresh/package.json
Labels: :package: master, :package: v14

#1728 chore(spec): remove superfluous warning checks
  packages/spec/helpers.js
Labels: :package: master, :package: v14

#1730 fix: correctly initialize import component context
  packages/react/import-component/context.js
  packages/react/import-component/index.js
Labels: :package: master, :package: v13, :package: v14

#1765 fix(apollo-mock-server): update package graphql-tag
  package.json
  packages/apollo-mock-server/package.json
  yarn.lock
Labels: :package: master, :package: v13, :package: v14

#1756 docs(webpack): document known drawbacks and limitations of esbuild
  packages/webpack/README.md
Labels: :package: master, :package: v14

#1769 fix: allow custom apollo cache
  packages/react-apollo/mixins/apollo3/mixin.browser.js
Labels: :package: master, :package: v14
