Repository xing/hops, pull requests merged in 2021-01, with the labels that each got.

#1475 fix(webpack): ensure forked compiler exits when done
  packages/webpack/lib/utils/compiler-fork.js
  packages/webpack/lib/utils/compiler.js
Labels: :package: master, :package: v12, :package: v13

#1478 chore: enable codeql for security analysis
  .github/workflows/codeql-analysis.yml
Labels: :package: master, :package: v13

#1473 fix(postcss): update Webpack's CSS compilation
  packages/postcss/mixin.core.js
  packages/postcss/package.json
  packages/postcss/patch-postcss-modules-extract-imports.js
  yarn.lock
Labels: :package: master, :package: v13, Merging… :robot:

#1344 test: re-enable bootstrap tests and refactor to jest
  package.json
  packages/bootstrap/__tests__/fixtures/a-mixin.js
  packages/bootstrap/__tests__/fixtures/another-mixin.js
  packages/bootstrap/__tests__/fixtures/config-mixin.js
  packages/bootstrap/__tests__/fixtures/test-mixin.js
  packages/bootstrap/__tests__/fixtures/validate-mixin.js
  packages/bootstrap/__tests__/index.test.js
  packages/bootstrap/lib/__tests__/fixtures/custom-presets/.hopsrc.json
  packages/bootstrap/lib/__tests__/fixtures/custom-presets/node_modules/foo/package.json
  packages/bootstrap/lib/__tests__/fixtures/custom-presets/node_modules/foo/preset.js
  packages/bootstrap/lib/__tests__/fixtures/custom-presets/test.js
  packages/bootstrap/lib/__tests__/fixtures/default-presets/.hopsrc.json
  packages/bootstrap/lib/__tests__/fixtures/default-presets/node_modules/foo/package.json
  packages/bootstrap/lib/__tests__/fixtures/default-presets/node_modules/foo/preset.js
  packages/bootstrap/lib/__tests__/fixtures/default-presets/test.js
  packages/bootstrap/lib/__tests__/fixtures/no-config/test.js
  packages/bootstrap/lib/__tests__/fixtures/no-presets/.hopsrc.json
  packages/bootstrap/lib/__tests__/fixtures/no-presets/test.js
  packages/bootstrap/lib/__tests__/loader.test.js
  packages/bootstrap/package.json
Labels: :package: master, :package: v13

#1480 fix(bootstrap): add Ajv formats
  packages/bootstrap/lib/validator.js
  packages/bootstrap/package.json
  yarn.lock
Labels: :package: master, :package: v13, Merging… :robot:

#1479 feat: change CSS Modules export syntax
  packages/postcss/README.md
  packages/postcss/mixin.core.js
  packages/postcss/preset.js
  packages/spec/integration/postcss/__tests__/build-static.js
  packages/spec/integration/postcss/index.js
  packages/spec/integration/postcss/package.json
  packages/spec/integration/postcss/styles.css
  packages/spec/package.json
  yarn.lock
Labels: :package: master, Merging… :robot:

#1482 feat(jest-environment): add package jest-environment-hops
  packages/jest-environment/CHANGELOG.md
  packages/jest-environment/README.md
  packages/jest-environment/helpers.js
  packages/jest-environment/index.js
  packages/jest-environment/package.json
  packages/spec/helpers.js
  packages/spec/integration/create-hops-app/package.json
  packages/spec/integration/development-proxy/package.json
  packages/spec/integration/doctor/package.json
  packages/spec/integration/graphql-mock-server/__tests__/develop.js
  packages/spec/integration/graphql-mock-server/package.json
  packages/spec/integration/graphql-no-ssr/__tests__/develop.js
  packages/spec/integration/graphql-no-ssr/package.json
  packages/spec/integration/graphql/package.json
  packages/spec/integration/hot-module-reload/__tests__/develop.js
  packages/spec/integration/hot-module-reload/package.json
  packages/spec/integration/lambda/package.json
  packages/spec/integration/postcss/__tests__/build-static.js
  packages/spec/integration/postcss/__tests__/build.js
  packages/spec/integration/postcss/__tests__/develop.js
  packages/spec/integration/postcss/package.json
  packages/spec/integration/pwa/__tests__/build.js
  packages/spec/integration/pwa/package.json
  packages/spec/integration/react/__tests__/develop.js
  packages/spec/integration/react/package.json
  packages/spec/integration/redux-without-ssr/__tests__/develop.js
  packages/spec/integration/redux-without-ssr/package.json
  packages/spec/integration/redux/__tests__/develop.js
  packages/spec/integration/redux/package.json
  packages/spec/integration/styled-components/__tests__/develop.js
  packages/spec/integration/styled-components/package.json
  packages/spec/integration/typescript-styled-components/__tests__/develop.js
  packages/spec/integration/typescript-styled-components/package.json
  packages/spec/integration/typescript/__tests__/develop.js
  packages/spec/integration/typescript/package.json
  packages/spec/package.json
  yarn.lock
Labels: :package: master, :package: v13, Merging… :robot:

#1477 Prepare next v12.x release
  packages/webpack/lib/utils/compiler-fork.js
  packages/webpack/lib/utils/compiler.js
Labels: :package: v12, Merging… :robot:

#1486 chore: run eslint in CI
  .github/workflows/node-ci.yml
  packages/jest-environment/helpers.js
  packages/spec/package.json
Labels: :package: master, :package: v12, :package: v13, Merging… :robot:

#1494 fix(postcss): disable external PostCSS configs
  packages/postcss/mixin.core.js
Labels: :package: master, :package: v13, Merging… :robot:

#1495 docs(jest-environment): remove superfluous await statement
  packages/jest-environment/README.md
Labels: :package: master, :package: v13, Merging… :robot:

#1497 chore: add config for check-label bot
  .github/check-label.yml
Labels: Merging… :robot:

#1499 docs: update year in license
  LICENSE.txt
Labels: :package: master, :package: v12, :package: v13

#1496 Release v13.x
  LICENSE.txt
  packages/jest-environment/README.md
Labels: :package: v13, Merging… :robot:

#1505 chore: add config for release-bot
  .github/release-bot.yml
Labels: :package: master, :package: v12, :package: v13

#1509 refactor: correct lodash import
  packages/bootstrap/lib/utils.js
  packages/bootstrap/package.json
  yarn.lock
Labels: :package: master, :package: v12, :package: v13

#1512 refactor: correct lodash import
  packages/bootstrap/lib/utils.js
  packages/bootstrap/package.json
  yarn.lock
Labels: :package: v12
