Repository xing/hops, pull requests merged in 2021-03, with the labels that each got.

#1630 refactor(bootstrap): replace lodash.mergeWith with custom function
  packages/bootstrap/lib/__tests__/utils.test.js
  packages/bootstrap/lib/utils.js
  packages/bootstrap/package.json
  yarn.lock
Labels: :package: master, :package: v13

#1639 fix: remove static rendering
  DOCUMENTATION.md
  packages/express/README.md
  packages/express/index.js
  packages/express/lib/render.js
  packages/express/mixins/mixin.core.js
  packages/info/logger/mixin.core.js
  packages/spec/integration/postcss/__tests__/build-static.js
  packages/spec/integration/postcss/package.json
  packages/template-graphql/README.md
  packages/template-graphql/package.json
  packages/template-react/README.md
  packages/template-react/package.json
  packages/template-redux/README.md
  packages/template-redux/package.json
  packages/webpack/README.md
  packages/webpack/index.js
  packages/webpack/lib/plugins/render.js
  packages/webpack/mixins/config/mixin.core.js
  packages/webpack/mixins/render/mixin.core.js
  packages/webpack/preset.js
Labels: :package: master

#1642 fix: remove mixin-order escape hatch
  packages/bootstrap/lib/__tests__/utils.test.js
  packages/bootstrap/lib/config.js
  packages/bootstrap/lib/loader.js
  packages/bootstrap/lib/utils.js
  packages/webpack/lib/utils/loader.js
Labels: :package: master, Merging… :robot:

#1629 feat: introduce hops-debug as a node/browser wrapper for debug
  DOCUMENTATION.md
  packages/bootstrap/index.js
  packages/bootstrap/lib/config.js
  packages/bootstrap/package.json
  packages/debug/README.md
  packages/debug/browser.js
  packages/debug/node.js
  packages/debug/package.json
  packages/development-proxy/mixin.core.js
  packages/development-proxy/package.json
  packages/express/lib/serve.js
  packages/express/package.json
  packages/jest-environment/helpers.js
  packages/jest-environment/index.js
  packages/jest-environment/package.json
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/mixins/config/mixin.core.js
  packages/webpack/package.json
Labels: :package: master, :package: v13

#1643 Require strictly aligned Hops packages
  DOCUMENTATION.md
  packages/info/doctor/mixin.core.js
  packages/info/doctor/validators/duplicates.js
Labels: :package: master

#1646 fix(info): remove deprecated handling of warning messages
  packages/info/doctor/mixin.core.js
  packages/info/package.json
  packages/lambda/mixin.core.js
  packages/react-apollo/mixin.core.js
Labels: :package: master

#1649 chore: remove branch deletion action
  .github/workflows/delete-merged-branches.yml
Labels: :package: master

#1631 feat: rewrite runtime code to ESM to facilitate tree shaking
  packages/apollo-mock-server/context-extender.js
  packages/config/browser.js
  packages/hops/lib/runtime.js
  packages/info/logger/mixin.server.js
  packages/jest-preset/mocks/hops.js
  packages/pwa/dom.js
  packages/pwa/node.js
  packages/pwa/worker.js
  packages/react-apollo/mixin.browser.js
  packages/react-apollo/mixin.server.js
  packages/react/config/context.js
  packages/react/config/mixin.runtime.js
  packages/react/config/use-config.js
  packages/react/config/with-config.js
  packages/react/helmet/mixin.runtime.js
  packages/react/import-component/context.js
  packages/react/import-component/index.js
  packages/react/import-component/mixin.runtime.js
  packages/react/index.js
  packages/react/lib/assets.js
  packages/react/lib/fragments.js
  packages/react/lib/resource-hints.js
  packages/react/lib/runtime.js
  packages/react/lib/template.js
  packages/react/render/index.js
  packages/react/render/mixin.browser.js
  packages/react/render/mixin.server.js
  packages/react/router/index.js
  packages/react/router/mixin.browser.js
  packages/react/router/mixin.server.js
  packages/react/server-data/context.js
  packages/react/server-data/mixin.browser.js
  packages/react/server-data/mixin.server.js
  packages/react/server-data/use-server-data.js
  packages/react/server-data/with-server-data.js
  packages/redux/action-creator-dispatcher/mixin.browser.js
  packages/redux/action-creator-dispatcher/mixin.runtime-common.js
  packages/redux/action-creator-dispatcher/mixin.server.js
  packages/redux/index.js
  packages/redux/mixin.browser.js
  packages/redux/mixin.runtime-common.js
  packages/redux/mixin.server.js
  packages/spec/integration/graphql/mixin.runtime.js
  packages/spec/integration/react/mixin.server.js
  packages/styled-components/mixin.browser.js
  packages/styled-components/mixin.server.js
  packages/template-graphql/src/home/index.js
Labels: :package: master

#1662 chore(spec): use version range for styled-components types in tests
  packages/spec/package.json
Labels: :package: master, :package: v13

#1666 feat: provide display names to Hops's React contexts
  packages/react/config/context.js
  packages/react/import-component/context.js
  packages/react/server-data/context.js
Labels: :package: master

#1667 chore(webpack): raise version of webpack-dev-middleware
  packages/webpack/package.json
  yarn.lock
Labels: :package: master

#1665 fix(postcss): use module type "commonjs"
  packages/postcss/README.md
  packages/postcss/mixin.core.js
  packages/postcss/preset.js
  packages/spec/integration/postcss/index.js
  packages/spec/integration/postcss/other-styles.css
Labels: :package: master

#1669 chore: update yarn.lock
  yarn.lock
Labels: :package: master, :package: v13

#1668 fix(webpack): disable native Webpack stats in develop-mode
  packages/webpack/mixins/develop/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: v13

#1670 chore: fix prerelease command
  package.json
Labels: :package: master

#1672 docs: add missing peer-deps of jest-preset-hops
  DOCUMENTATION.md
Labels: :package: master

#1632 feat(webpack): introduce experimental esbuild transpilation
  package.json
  packages/jest-preset/jest-preset.js
  packages/jest-preset/transforms/esbuild.js
  packages/react/build/mixin.core.js
  packages/react/import-component/import-component-loader.js
  packages/react/import-component/mixin.core.js
  packages/spec/integration/esbuild-typescript/__tests__/develop.js
  packages/spec/integration/esbuild-typescript/content.tsx
  packages/spec/integration/esbuild-typescript/headline.js
  packages/spec/integration/esbuild-typescript/index.tsx
  packages/spec/integration/esbuild-typescript/package.json
  packages/spec/integration/esbuild-typescript/tsconfig.json
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-loading.jsx.snap
  packages/spec/integration/hops/__tests__/__snapshots__/import-component-mocked.jsx.snap
  packages/spec/integration/hops/__tests__/import-component-loading.jsx
  packages/spec/integration/hops/__tests__/import-component-mocked.jsx
  packages/spec/integration/hops/index.jsx
  packages/spec/integration/hops/text.jsx
  packages/spec/integration/typescript-unit-testing/__tests__/index.spec.jsx
  packages/spec/integration/typescript-unit-testing/headline.jsx
  packages/styled-components/mixin.core.js
  packages/template-graphql/src/app.jsx
  packages/template-graphql/src/home/index.jsx
  packages/template-graphql/src/home/spec/__snapshots__/index.spec.jsx.snap
  packages/template-graphql/src/home/spec/index.spec.jsx
  packages/template-react/src/app.jsx
  packages/template-react/src/counter/index.jsx
  packages/template-react/src/counter/spec/__snapshots__/index.spec.jsx.snap
  packages/template-react/src/counter/spec/index.spec.jsx
  packages/template-react/src/home/index.jsx
  packages/template-react/src/home/spec/__snapshots__/index.spec.jsx.snap
  packages/template-react/src/home/spec/index.spec.jsx
  packages/template-redux/src/app.jsx
  packages/template-redux/src/counter/counter.jsx
  packages/template-redux/src/counter/index.jsx
  packages/template-redux/src/counter/spec/__snapshots__/counter.spec.jsx.snap
  packages/template-redux/src/counter/spec/__snapshots__/index.spec.jsx.snap
  packages/template-redux/src/counter/spec/counter.spec.jsx
  packages/template-redux/src/counter/spec/index.spec.jsx
  packages/template-redux/src/home/index.jsx
  packages/template-redux/src/home/spec/__snapshots__/index.spec.jsx.snap
  packages/template-redux/src/home/spec/index.spec.jsx
  packages/typescript/mixin.core.js
  packages/webpack/lib/plugins/log.js
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/mixins/esbuild/mixin.core.js
  packages/webpack/mixins/optimizations/mixin.core.js
  packages/webpack/mixins/start/mixin.core.js
  packages/webpack/preset.js
  yarn.lock
Labels: :package: master, ⏱ performance, 🔨 build

#1678 chore: update npm dist-tag on v13.x release branch
  lerna.json
Labels: :package: v13

#1679 chore: use fixed versions for dependencies between hops packages
  packages/apollo-mock-server/package.json
  packages/bootstrap/package.json
  packages/config/package.json
  packages/development-proxy/package.json
  packages/express/package.json
  packages/graphql/package.json
  packages/hops/package.json
  packages/info/package.json
  packages/jest-environment/package.json
  packages/jest-preset/package.json
  packages/lambda/package.json
  packages/postcss/package.json
  packages/pwa/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  packages/redux/package.json
  packages/spec/package.json
  packages/styled-components/package.json
  packages/template-graphql/package.json
  packages/template-react/package.json
  packages/template-redux/package.json
  packages/typescript/package.json
  packages/webpack/package.json
  packages/yargs/package.json
Labels: :package: master

#1682 Prepare v14 release
  .github/check-label.yml
  .github/release-bot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  README.md
  renovate.json
Labels: :package: master

#1693 chore: set lerna exact flag to release with strict dependencies
  lerna.json
Labels: :package: master, :package: v14

#1696 fix(create-hops-app): rename bin to "create-hops-app" for stable version
  packages/create-hops-app/package.json
Labels: :package: v14

#1695 chore: clear changelogs
  CHANGELOG.md
  packages/apollo-mock-server/CHANGELOG.md
  packages/bootstrap/CHANGELOG.md
  packages/config/CHANGELOG.md
  packages/create-hops-app/CHANGELOG.md
  packages/debug/CHANGELOG.md
  packages/development-proxy/CHANGELOG.md
  packages/express/CHANGELOG.md
  packages/graphql/CHANGELOG.md
  packages/hops/CHANGELOG.md
  packages/info/CHANGELOG.md
  packages/jest-environment/CHANGELOG.md
  packages/jest-preset/CHANGELOG.md
  packages/lambda/CHANGELOG.md
  packages/mixin/CHANGELOG.md
  packages/postcss/CHANGELOG.md
  packages/pwa/CHANGELOG.md
  packages/react-apollo/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/redux/CHANGELOG.md
  packages/spec/CHANGELOG.md
  packages/styled-components/CHANGELOG.md
  packages/template-graphql/CHANGELOG.md
  packages/template-react/CHANGELOG.md
  packages/template-redux/CHANGELOG.md
  packages/typescript/CHANGELOG.md
  packages/webpack/CHANGELOG.md
  packages/yargs/CHANGELOG.md
Labels: :package: master

#1699 chore: update canarist config for workshop (v13)
  package.json
Labels: :package: v13

#1700 chore: update canarist config for workshop (v14)
  package.json
Labels: :package: v14
