Repository xing/hops, pull requests merged in 2021-07, with the labels that each got.

#1901 refactor(msw): get rid of url-join
  packages/msw/integration.js
  packages/msw/package.json
Labels: :package: master, :package: v14

#1908 fix(msw): rename /_mocks/ endpoint to /_msw/ to avoid clashes
  packages/msw/integration.js
  packages/msw/mixin.core.js
Labels: :package: master, :package: v14

#1909 fix(msw): delay rendering until msw mocks have been registered
  packages/msw/mixin.browser.js
Labels: :package: master, :package: v14

#1910 feat(msw): allow to specify a handlers file to use during development
  packages/jest-preset/setup-msw.js
  packages/msw/README.md
  packages/msw/index.d.ts
  packages/msw/index.js
  packages/msw/mixin.browser.js
  packages/msw/mixin.core.js
  packages/msw/mixin.server.js
  packages/msw/package.json
  packages/msw/preset.js
  packages/msw/unit.d.ts
  packages/msw/unit.js
  packages/template-graphql/mocks.js
  packages/template-graphql/package.json
  packages/template-graphql/src/app.jsx
  packages/template-graphql/src/home/spec/index.spec.jsx
Labels: :package: master, :package: v14

#1916 Fix msw
  packages/msw/handlers.js
  packages/msw/mixin.browser.js
  packages/spec/integration/redux/__tests__/develop.js
  packages/spec/integration/redux/__tests__/mocked.js
  packages/spec/integration/redux/index.js
  packages/spec/integration/redux/package.json
Labels: :package: master

#1923 docs: let all links to "main readme" point to readme version selection
  packages/apollo-mock-server/README.md
  packages/config/README.md
  packages/create-hops-app/README.md
  packages/debug/README.md
  packages/development-proxy/README.md
  packages/express/README.md
  packages/graphql/README.md
  packages/hops/README.md
  packages/jest-environment/README.md
  packages/jest-preset/README.md
  packages/lambda/README.md
  packages/mixin/README.md
  packages/msw/README.md
  packages/postcss/README.md
  packages/pwa/README.md
  packages/react-apollo/README.md
  packages/react/README.md
  packages/redux/README.md
  packages/styled-components/README.md
  packages/template-graphql/README.md
  packages/template-react/README.md
  packages/template-redux/README.md
  packages/typescript/README.md
Labels: :package: master, :package: v14

#1926 Misc fixes for msw
  packages/msw/index.d.ts
  packages/msw/mixin.browser.js
  packages/msw/mixin.core.js
  packages/msw/mixin.server.js
  packages/msw/package.json
Labels: :package: master, :package: v14

#1931 fix(msw): rename /_mocks/ endpoint to /_msw/ to avoid clashes
  packages/msw/integration.js
  packages/msw/mixin.core.js
Labels: :package: v14

#1936 Fix msw
  packages/msw/README.md
  packages/msw/integration.d.ts
  packages/msw/integration.js
  packages/msw/mixin.core.js
  packages/spec/integration/redux/__tests__/mocked.js
Labels: :package: master, :package: v14
