Repository xing/hops, pull requests merged in 2021-06, with the labels that each got.

#1844 feat: update Jest to version 27
  package.json
  packages/jest-environment/package.json
  packages/jest-preset/jest-preset.js
  packages/jest-preset/package.json
  packages/jest-preset/transforms/babel.js
  packages/template-graphql/package.json
  packages/template-react/package.json
  packages/template-redux/package.json
  yarn.lock
Labels: :package: master, :package: v14

#1856 chore: downgrade Jest to version 26
  package.json
  packages/jest-preset/package.json
  packages/template-graphql/package.json
  packages/template-react/package.json
  packages/template-redux/package.json
  yarn.lock
Labels: :package: master, :package: v14

#1864 chore(spec): add test for image handling
  packages/spec/integration/react/__tests__/develop.js
  packages/spec/integration/react/images.js
  packages/spec/integration/react/img/img.gif
  packages/spec/integration/react/img/img.jpg
  packages/spec/integration/react/img/img.png
  packages/spec/integration/react/index.js
Labels: :package: master

#1868 chore: set Jest resolution for Canarist test
  package.json
Labels: :package: master, :package: v14

#1867 feat: update webpack to v5
  packages/postcss/mixin.core.js
  packages/postcss/package.json
  packages/pwa/lib/service-worker-plugin.js
  packages/pwa/mixin.core.js
  packages/pwa/package.json
  packages/typescript/package.json
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/configs/node.js
  packages/webpack/lib/plugins/log.js
  packages/webpack/lib/plugins/stats.js
  packages/webpack/lib/utils/compiler-fork.js
  packages/webpack/lib/utils/compiler.js
  packages/webpack/mixins/build/mixin.core.js
  packages/webpack/package.json
  yarn.lock
Labels: :package: master

#1871 fix: webpack adjustments
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/plugins/stats.js
Labels: :package: master

#1875 fix(webpack): target ES5 for browser builds
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
Labels: :package: master

#1877 feat(webpack): enable filesystem-based caching
  packages/bootstrap/index.js
  packages/webpack/README.md
  packages/webpack/lib/configs/build.js
  packages/webpack/lib/configs/develop.js
  packages/webpack/lib/configs/node.js
  packages/webpack/mixins/config/mixin.core.js
Labels: :package: master

#1881 chore(spec): improve create-hops-app test
  packages/create-hops-app/lib/package-manager.js
  packages/spec/integration/create-hops-app/__tests__/index.spec.js
  packages/spec/package.json
  yarn.lock
Labels: :package: master, :package: v14

#1886 fix(template-graphql): correctly pass data and loading state
  packages/template-graphql/src/home/index.jsx
  packages/template-graphql/src/home/spec/index.spec.jsx
Labels: :package: v13, :package: v14

#1887 fix(create-hops-app): remove intermediary hack
  packages/create-hops-app/lib/package-manager.js
Labels: :package: v14

#1889 feat: add hops-msw package
  package.json
  packages/jest-preset/jest-preset.js
  packages/jest-preset/package.json
  packages/jest-preset/setup-msw.js
  packages/msw/CHANGELOG.md
  packages/msw/README.md
  packages/msw/integration.d.ts
  packages/msw/integration.js
  packages/msw/mixin.browser.js
  packages/msw/mixin.core.js
  packages/msw/package.json
  packages/msw/preset.js
  packages/msw/unit.d.ts
  packages/msw/unit.js
  packages/react-apollo/index.js
  packages/spec/integration/redux/__tests__/mocked.js
  packages/spec/integration/redux/index.js
  packages/spec/integration/redux/package.json
  packages/template-graphql/package.json
  packages/template-graphql/src/home/spec/__snapshots__/index.spec.jsx.snap
  packages/template-graphql/src/home/spec/index.spec.jsx
  yarn.lock
Labels: :package: master, :package: v14

#1896 docs: elaborate on Node version declarations
  DOCUMENTATION.md
Labels: :package: master, :package: v14
